!!!
%html(ng-app="sennaarer.github.io")
  %head
    %meta(charset="utf-8")
    %title Home
    %link(rel="stylesheet" href="library/css/main.css")

  %body
    .container(ng-controller="MyCtrl")
      .col-md-4
        {{ctrlhello}}
      .col-md-4
        {{facthello}}
      .col-md-4
        {{servhello}}
      .col-md-4
        %helloWorldFromFactory





    %script(src="library/js/vendor/angular/angular.js")
    %script(src="library/js/vendor/angular/angular-route.js")
    %script(src="library/js/app.js")
    %script(src="library/js/controllers.js")
    %script(src="library/js/directives.js")
    %script(src="library/js/services.js")
