doctype html
html
    head
        title sennaarer.github.io
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="lib/css/main.min.css")
        //script(src="lib/js/jquery.min.js")
        //script(src="lib/js/app.min.js")
    body
        .container
            .ag1
                span AG 1
            .ag2
                .ag2-1
                    span AG 2-1
                .ag2-2
                    span AG 2-2
                .ag2-3
                    span AG 2-3
                .ag2-4
                    .ag2-4-1
                        span AG 2-4-1
                    .ag2-4-2
                        span AG 2-4-2
                    .ag2-4-3
                        span AG 2-4-3
            .ag3
                span AG 3
