!!!
%html(ng-app="sennaarer")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Home
    %link(rel="stylesheet" href="library/css/main.css")
    %script(src="library/js/vendor/jquery.js")

  %body
    %h1
      sennaarer.github.io
  %script(src="library/ls/vendor/angular.js" )