!!!
%html
  %head
    %meta(charset='utf-8')
    %title sennaarer.github.io
    %link(rel='stylesheet' href='library/css/main.css')

  %body
    .container
      .col-lg-2.col-md-2.col-sm-6.col-xs-12
        .first.text-center
          Home s new tqexta
      .col-lg-2.col-md-2.col-sm-6.col-xs-12
        .second.text-center
          Home

      .col-lg-2.col-md-2.col-sm-6.col-xs-12
        .third.text-center
          Home
      .col-lg-2.col-md-2.col-sm-6.col-xs-12
        .forth.text-center
          Home
      .col-lg-2.col-md-2.col-sm-6.col-xs-12
        .fifth.text-center
          Home three

    .container




