!!!
%html(ng-app="sennaarer.github.io")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Home
    %link(rel="stylesheet" href="library/css/main.css")
    %script(src="library/js/vendor/jquery.js")

  %body
    .container
      .col-head-bg
        .col-lg-4.col-md-4.col-sm-8.col-xs-12
          .sixth

        .col-lg-4.col-md-4.col-sm-8.col-xs-12
          .first.text-center
            HOME
        .col-lg-4.col-md-4.col-sm-8.col-xs-12
          .second.text-center
            TUTORIALS
        .col-lg-4.col-md-4.col-sm-8.col-xs-12
          .third.text-center
            ABOUT
        .col-lg-4.col-md-4.col-sm-8.col-xs-12
          .forth.text-center
            WORK
        .col-lg-4.col-md-4.col-sm-8.col-xs-12
          .fifth.text-center
            HELP

    .container
      .col-lg-4.col-md-4.col-sm-8.col-xs-12
        .sixth

      .col-lg-4.col-md-4.col-sm-8.col-xs-12
        .first1.text-center
          HOME
      .col-lg-4.col-md-4.col-sm-8.col-xs-12
        .second1.text-center
          TUTORIALS
      .col-lg-4.col-md-4.col-sm-8.col-xs-12
        .third1.text-center
          ABOUT
      .col-lg-4.col-md-4.col-sm-8.col-xs-12
        .forth1.text-center
          WORK
      .col-lg-4.col-md-4.col-sm-8.col-xs-12
        .fifth1.text-center
          HELP



  %script(src="library/js/vendor/angular.js" )
  %script(src="library/js/app.js" )
