<div class='col-md-4'>
  <div class='panel panel-{{color}}'>
    <div class='panel-heading'>
      {{part | uppercase}}
    </div>
    <div class='panel-body'>
      <div class='btn-group-vertical' style='width: 100%'>
        <div class='btn btn-{{color}}' ng-repeat='subpart in bparts' open="open('/'+part+'/'+subpart.path)" status=''>
          <div class='text-left'>{{subpart.title}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='col-lg-8'>
  <div class='panel panel-{{color}}'>
    <div class='panel-heading'>
      {{part | uppercase}}
    </div>
    <div class='panel-body' ng-include='content()'></div>
  </div>
</div>
