doctype html
html
    head
        title LOGO
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href='https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed|Fjalla+One|Homenaje' rel='stylesheet' type='text/css')
        link(rel="stylesheet" href="lib/css/main.min.css")
        script(src="lib/js/jquery.min.js")
    body
        <!--[if lt IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        header
            .container
                .col-sm-3
                    a.logo(href='/')
                        img(src='lib/img/logo.svg')
                .menu.col-sm-6
                    .row
                        .menu-part.col-sm-4 HOME
                        .menu-part.col-sm-4 PHOTO
                        .menu-part.col-sm-4 BLOGS
                        .menu-part.col-sm-4 ABOUT US
                .col-sm-3.menu-part
                    .row
                        .col-sm-3
                            .row
                                .icon-world
                        .col-sm-10.small UNITED KINDOM
                        .col-sm-3
                            .icon-triangle
                .col-sm-4.text-right
                    .row
                        a.phone-box(href='tel:55555555555')
                            span.icon-phone.small
                            span.phone + 5 555 555 55 55
        nav
            .container
                .col-sm-2
                .col-sm-4.nav-menu WEB-DESIGN
                .col-sm-4.nav-menu ADVERTISING
                .col-sm-4.nav-menu SEO
                .col-sm-2
        .nav-shade

        section.carousel
            .container
                .carousel-control.carousel-left
                    .icon-triangle
                .carousel-control.carousel-right
                    .icon-triangle.icon-flip-horizontal

        section.design
            .container.section-name
                h2 WEB-DESIGN
                p <strong>Web design</strong> encompasses many different skills and disciplines in the production and maintenance of websites. The different areas of web design include web graphic design; interface design; authoring, including standardised code and proprietary software; user experience design; and search engine optimization. Often many individuals will work in teams covering <a href="">different aspects</a> of the design process, although some designers will cover them all. The term web design is normally used to describe the design process relating to the front-end (client side) design of a website including writing mark up. Web design partially overlaps web engineering in the broader scope of web development. Web designers are expected to have an awareness of usability and if their role involves <a href="">creating mark</a> up then they are also expected to be up to date with web accessibility guidelines.
        section.blogs
            .container Here will be Blogs
        section.about
            .container Here will be About Us section
        footer