doctype html
html
    head
        title LOGO
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href='https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed|Fjalla+One|Homenaje' rel='stylesheet' type='text/css')
        link(rel="stylesheet" href="lib/css/main.min.css")
        script(src="lib/js/jquery.min.js")
    body
        <!--[if lt IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        .header
            header.container
                .header-top.row
                    .col-sm-4 LOGO
                    .col-sm-6
                        .row
                            .header-menu.col-sm-4 HOME
                            .header-menu.col-sm-4 PHOTO
                            .header-menu.col-sm-4 BLOGS
                            .header-menu.col-sm-4 ABOUT US
                    .col-sm-6
                        .row
                            .col-sm-8
                                .row
                                    .header-menu.col-sm-12
                                        .row
                                            .col-sm-4
                                                .icon-world-box
                                                    .icon-world
                                            .col-sm-9
                                                small.language UNITED KINDOM
                                            .col-sm-3
                                                .icon-triangle-box
                                                    .icon-triangle



                                    .col-sm-4
                            .col-sm-8.text-right
                                .icon-phone-box
                                    .icon-phone.small
                                strong + 7 123 456 78 90
        .container
            lead.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam non, commodi facere nesciunt minus error dolor blanditiis in. Totam inventore veritatis amet nisi nostrum cupiditate voluptates veniam nesciunt iste quam.
            mark.mark Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis voluptates praesentium quaerat, impedit totam consectetur laborum, doloribus modi dicta, recusandae consequatur molestiae aperiam eius eveniet a esse animi enim.
            code  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore consectetur non, quod ea, repudiandae nobis ipsam iusto nam, rem expedita, dolores magnam molestias eos aliquid fuga itaque officia nulla! Quas.
            dfn  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam nihil consequuntur accusamus expedita, illo necessitatibus voluptatum sapiente architecto earum aliquid unde officiis neque exercitationem, veritatis nisi incidunt numquam laudantium eum.


        
        h1.text-uppercase About us
        .logo
            .icon-logo
            .icon-double-arrow
            .icon-google-plus
            .icon-call-phone
            .icon-facebook
            .icon-twitter
        .logo-text abcdeghf
        p Audax, gratis <a href="hello">adelphiss foris</a> prensionem de primus, flavum byssus.
        a.text-primary(href="hello") Ionic cannon at the space station that is when ordinary ships harvest.
        hr
        footer.container footer
