.top10 {
  margin-top: 10px;
}

.one-box(@box-height: 60px) {
  height: @box-height;
  line-height: @box-height;
  margin-top: @grid-gutter-width;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000;
  cursor: pointer;
}
.one-box-action(@bgcolor) {
  background-color: lighten(@bgcolor, 8%);
  .one-box;
  &:hover {
    background-color: @bgcolor;
  }
  &:active,
  &.selected {
    background-color: @bgcolor;
  }
}
.first {
  .one-box-action(@brand-warning);
}
.second {
  .one-box-action(@brand-danger);
}
.third {
  .one-box-action(@brand-info);
}
.forth {
  .one-box-action(@brand-success);
}
.fifth {
  .one-box-action(@brand-primary);
}

