doctype html
html
    head
        title Homework
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href='https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic' rel='stylesheet' type='text/css')
        link(rel="stylesheet" href="css/main.min.css")

    body
        .video-box
            header
                .warning
                    span 12+


