doctype html
html
    head
        title Geo-Selector
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="lib/css/main.css")
        script(src="lib/js/jquery.min.js")
        script(src="lib/js/geo-selector.min.js")
        script(src="lib/js/temp.js")
    body(onload="")
        #geo-selector
        #geo-selector1
        script.
            $('#geo-selector').geoSelector();
            $('#geo-selector1').geoSelector(1);


