doctype html
html
    head
        title Магазин Инструмента
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="lib/css/main.min.css")
    body
        header.container
            .col-xs-5.col-sm-3.col-md-2.col-lg-2
                .row.logo
                    a(href="#")
                        img(src="lib/img/tools.svg" alt="")
                .row.logo-text МАГАЗИН ИНСТРУМЕНТА
            .col-xs-7.col-sm-9.col-md-10.col-lg-10.menu
                .row
                    .col-sm-8.col-md-9.col-lg-9.hidden-xs
                        ul.list-inline
                            li
                                a(href="#") Каталог инструментов
                            li.hidden-xs.hidden-sm
                                a(href="#") Все для сада
                            li.hidden-md.hidden-sm.hidden-xs
                                a(href="#") Ручной инструмент
                            li.hidden-xs.hidden-sm
                                a(href="#") Электрика
                            li
                                a(href="#") Доставка
                            li
                                a(href="#") Оплата
                            li
                                a(href="#") О нас
                    .col-xs-12.col-sm-4.col-md-3.col-lg-3
                        ul.list-inline.text-right
                            li
                                a(href="#") Вход
                            li |
                            li
                                a(href="#") Регистрация
                .row
                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                            .line
                .row
                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                        .row
                            .col-lg-4.hidden-md.hidden-sm.hidden-xs
                                .banner
                            .col-xs-12.col-sm-6.col-md-8.col-lg-5
                                .row
                                    .col-xs-12.col-sm-12.col-md-5.col-lg-5.warning
                                        ul.list-inline
                                            li.icon-shop
                                            li
                                                a(href="#") 3 шт. / 17250 р.
                                        ul.list-inline
                                            li.icon-star
                                            li
                                                a(href="#") Избранное
                                        ul.list-inline
                                            li.icon-scales
                                            li
                                                a(href="#") К сравнению (5)
                                    .col-md-7.col-lg-7.tools.hidden-sm.hidden-xs
                                        .row
                                            .col-xs-4.col-sm-4.col-md-4.col-lg-4
                                                .row
                                                    .col-lg-11.thumbnail
                                                        img(src="lib/img/tool1.png" alt="")
                                            .col-xs-4.col-sm-4.col-md-4.col-lg-4
                                                .row
                                                    .col-lg-11.thumbnail
                                                        img(src="lib/img/tool2.png" alt="")
                                            .col-xs-4.col-sm-4.col-md-4.col-lg-4
                                                .row
                                                    .col-lg-11.thumbnail
                                                        img(src="lib/img/tool3.png" alt="")
                            .col-sm-6.col-md-4.col-lg-3.right-menu.hidden-xs
                                .row
                                    .col-xs-6.col-sm-6.col-md-6.col-lg-6
                                        .strong Время работы

                                    .col-xs-6.col-sm-6.col-md-6.col-lg-6
                                        .text-right 10:00 - 19:00
                                .row
                                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                        .phone.text-right 8 495 721-25-25
                                .row
                                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                        .line

                                .row
                                    .col-xs-6.col-sm-6.col-md-6.col-lg-6 Москва

                                    .col-xs-6.col-sm-6.col-md-6.col-lg-6
                                        .text-right.list-inline.change
                                            span.icon-right
                                            span.change-text сменить
        .container
            .main-menu.btn-group.btn-group-lg
                .btn.btn-default.search.active(type="button")
                    span &nbsp;
                    span.icon-search
                .btn.btn-default.blank.disabled.hidden-md.hidden-sm.hidden-xs(type="button")
                    span &nbsp;
                .btn.btn-default(type="button") Перфораторы
                .btn.btn-default(type="button") Дрели
                .btn.btn-default(type="button") Шлифмашины
                .btn.btn-default.hidden-xs(type="button") Пистолеты
                .btn.btn-default.hidden-xs(type="button") Электропилы
                .btn.btn-default.hidden-sm.hidden-xs(type="button") Наборы инструментов
                .btn.btn-default.hidden-sm.hidden-xs(type="button") Аксессуары
                .btn.btn-default.active(type="button") РАСПРОДАЖА
